.reduce-section
	width: 80%
	margin: 50px auto
	display: flex
	justify-content: space-around
	flex-wrap: wrap
	align-items: center
	.reduce-affiliate
		width: 400px
		margin-bottom: 30px
		img
			width: 400px
			height: auto
			border: 2px solid $light-gray
			border-radius: 10px
			transition: all .5s ease
			&:hover
				transform: scale(1.05)
				cursor: pointer

.sections.reduce
	width: 90%