.sections
	.social-media-hashtag
		padding: 3px 7px
		border: 1px solid $light-gray
		border-radius: 4px
		display: inline
		font-size: 18px
		margin: 5px

@media (max-width: 1200px)
    .sections
        width: 80%

@media (max-width: 900px)
    .sections
        width: 90%

.recycle-section
    width: calc(100% - 40px)
    margin: 0px auto
